@font-face {
  font-family: "iconfont"; /* Project id 4941824 */
  src: url('iconfont.woff2?t=1749538887773') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhiding1:before {
  content: "\e627";
}

.icon-zhiding:before {
  content: "\e71a";
}

.icon-62tianjia:before {
  content: "\e649";
}

.icon-4shezhi:before {
  content: "\e605";
}

.icon-18gengduo:before {
  content: "\e615";
}

.icon-52shouye-1:before {
  content: "\e63f";
}

.icon-2zuixiaohua-1:before {
  content: "\e65a";
}

.icon-3zuidahua-1:before {
  content: "\e65d";
}

.icon-4guanbi-1:before {
  content: "\e660";
}

.icon-3zuidahua-3:before {
  content: "\e692";
}

