@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-app-region: drag;
  color: var(--text-color);
  background-color: var(--bg);
}

.status_logo {
  -webkit-app-region: none;
  user-select: none;
  cursor: pointer;
  margin-left: 4px;
}

.status_options {
  -webkit-app-region: none;
  padding-right: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.status_option_item {
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
  font-weight: bold;
}

.status_option_item:hover {
  background-color: var(--bg-hover);
}

.status_option_item.close-icon:hover {
  background-color: var(--danger-bg);
}

.tab_item {
  -webkit-app-region: none;
  min-width: 100px;
  background-color: var(--bg-mask);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  margin-top: 4px;
  border-radius: 4px 4px 0 0;
  position: relative;
  padding: 0 20px;
}

.tab_item:hover {
  background-color: var(--bg-mask-2);
}

.tab_item.active {
  background-color: var(--bg-light);
  color: var(--bg);
}

.tab_item .tab_item_close {
  position: absolute;
  top: 0;
  right: 4px;
  height: 100%;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: bold;
}

.tab_item .tab_item_close:hover {
  color: var(--danger-bg);
}
