:root {
  --bg: #272b2f;
  --bg-hover: #687079;
  --bg-light: #eee;
  --bg-mask: rgba(255, 255, 255, 0.1);
  --bg-mask-2: rgba(255, 255, 255, 0.2);
  --side-bg: #373c41;
  --danger-bg: rgb(228, 92, 68);
  --text-color: rgba(255, 255, 255, 0.55);
}
