@import "tailwindcss";

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg);
  background-image:
    linear-gradient(90deg, transparent 75%, rgba(255, 255, 255, 0.3) 75%),
    linear-gradient(90deg, transparent 75%, rgba(255, 255, 255, 0.3) 75%),
    radial-gradient(
      circle at 50% 0,
      rgba(255, 255, 255, 0.2) 10px,
      transparent 12px
    );
  background-size:
    40px 20px,
    80px 40px,
    40px 40px;
  background-position:
    0 0,
    20px 0,
    0 0;
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar,
.ant-table-tbody-virtual-scrollbar {
  width: 10px; /* 纵向滚动条*/
  height: 10px; /* 横向滚动条 */
  background-color: var(--bg-hover);
  opacity: 0.8;
}

::-webkit-scrollbar-thumb,
.ant-table-tbody-virtual-scrollbar-thumb {
  background-color: var(--bg) !important;
  border-radius: 10px;
  opacity: 0.8;
}
